BODY
{
  background-color: PapayaWhip !important;
  color: #000000;
  font-size: 10px;
  font-family: Verdana,Helvetica,Arial;
  font-weight: none;
}
.box h1 
{
	visibility: hidden !important;
}
.stacktrace_end {
visibility: hidden !important;
}


