.piedpage {
	color: blue !important;
	text-align: center;
	padding-top: 5px;
}

.entityadd {
	font-size: 14px;
}

.bordfin,tr {
	border-collapse: collapse;
	border: 1px solid darkgrey;
}

BODY {
	background-color: #efeff4;
	 -webkit-print-color-adjust:exact;
	color: #000000;
	font-size: 10px;
	font-family: Trebuchet MS ;
	font-weight: none;
}

A:link,A:visited,A:active,TD {
	color: #000000;
	font-size: 10px;
	text-decoration: none;
	vertical-align: middle;
}

A:hover {
	color: Red;
	font-size: 10px;
	text-decoration: underline;
	font-weight: bold;
}

.stacktrace,A.stacktrace:link,A.stacktrace:visited {
	font-family: Trebuchet MS ;
	font-size: 10px;
	font-style: italic;
	color: #555555;
}

.stacktrace_end {
	font-family: Trebuchet MS ;
	font-size: 10px;
	font-style: italic;
	color: #000000;
	 -webkit-print-color-adjust:exact;
}

.fieldlabel {
	font-family: Trebuchet MS ;
	font-size: 10px;
	color: #000000;
	 -webkit-print-color-adjust:exact;
	text-align: left;
}

.field {
	font-family: Trebuchet MS ;
	font-size: 10px;
	color: #000000;
	 -webkit-print-color-adjust:exact;
	text-align: left;
}

.tab {
	font-family: Trebuchet MS ;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	 -webkit-print-color-adjust:exact;
}

.tab_selected {
	font-family: Trebuchet MS ;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	 -webkit-print-color-adjust:exact;
}

INPUT,SELECT,TEXTAREA {
	background-color: #fff;
	color: #000000;
	 -webkit-print-color-adjust:exact;
	font-family: Trebuchet MS ;
	font-size: 10px;
}
/*
INPUT.btn,INPUT.btn_save,INPUT.btn_cancel,INPUT.btn_saveandclose,INPUT.btn_saveandnext,INPUT.btn_saveandmail
	{
	background-color: #f8f9fb;
	border-style: solid;
	border-color: #b4bac6;
	border-width: 1px;
	height: 20px;
	padding: 2px;
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}


*/
INPUT.atkbutton,INPUT.btn,INPUT.btn_save,INPUT.btn_search,INPUT.btn_cancel,INPUT.btn_saveandclose,INPUT.btn_saveandnext,INPUT.btn_saveandmail
	{
/*	background-color: #f8f9fb;
	border-style: solid;
	border-color: #b4bac6;
	border-width: 1px;
*/
		height: 20px;
/*	padding: 2px;
*/
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color : 	#E0E0E0  ;
	 -webkit-print-color-adjust:exact;
	 vertical-align: middle;
}
INPUT.atkbutton:hover,INPUT.btn:hover,INPUT.btn_search:hover,INPUT.btn_save:hover,INPUT.btn_cancel:hover,INPUT.btn_saveandclose:hover,INPUT.btn_saveandnext:hover,INPUT.btn_saveandmail:hover {
background-color: #f8f9fb;
 -webkit-print-color-adjust:exact;
;
}
INPUT.btn_saveandmail {
	color: red;
	 -webkit-print-color-adjust:exact;
	font-weight: bold;
}

INPUT.btn_saveandclose {
	font-weight: bold;
}
.error,.errorlabel {
	color: #FF0000;
	 -webkit-print-color-adjust:exact;
	font-family: Trebuchet MS ;
	font-size: 10px;
	text-align: left;
}

.atkmessages {
	color: #000000;
	font-family: Trebuchet MS ;
	 -webkit-print-color-adjust:exact;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
}

.t3menu {
	background-color: #f8f9fb;
	 -webkit-print-color-adjust:exact;
	margin: 0px;
	padding: 5px 0px;
	width: 100%;
	text-align: center;
	border-color: #b4bac6;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
}

.t3menu .title {
	font-weight: bold;
}

.t3menu DIV {
	display: inline;
	padding-right: 0px;
}

.t3menu DIV A {
	text-decoration: none;
	padding: 2px;
}

.t3menu DIV A:hover {
	text-decoration: underline;
	font-weight: bold;
	color: Blue;
	 -webkit-print-color-adjust:exact;
}

.t3 menu DIV BR {
	visibility: none;
}

.box {
	margin-left: 15px;
	margin-right: 15px;
}

.box H1 {
	text-align: left;
	font-size: 11px;
	font-variant: small-caps;
}

FORM TABLE TD {
	text-align: left;
}

.atkAttrRowHidden {
	display: none !important;
}

.styletitre {
	background: transparent none repeat scroll 0%;
	font-family: Lucida Grande, Trebuchet MS, sans-serif;
	color: #5A7236;
	 -webkit-print-color-adjust:exact;
	font-size: 14px;
	font-variant: small-caps;
	padding-bottom: 0px;
	padding-top: 3px;
}

.styleligne {
	background: transparent none repeat scroll 0%;
	font-family: Trebuchet MS, Tahoma, Arial, Serif;
	color: #666666;
	 -webkit-print-color-adjust:exact;
	font-size: 11px;
	padding-bottom: 0px;
	padding-top: 3px;
}

.stylesmallcaps {
	background: transparent none repeat scroll 0%;
	font-family: Trebuchet MS, Tahoma, Arial, Serif;
	color: #666666;
	 -webkit-print-color-adjust:exact;
	font-size: 12px;
	font-variant: small-caps;
	padding-bottom: 0px;
	padding-top: 3px;
}

a.info {
	position: relative; /*this is the key*/
	z-index: 24;
<!--	background-color: #e0e0e0; /* background colour of display text */-->
	color: #000000; /* colour of display text */
	 -webkit-print-color-adjust:exact;
<!--	border: 1px dotted #999; /* border colour */ -->
	text-decoration: none;
<!--	font-style: italic; -->
}

a.info:hover {
	z-index: 25;
	background-color: #ffff66;
	 -webkit-print-color-adjust:exact;
}

a.info span {
	display: none; /* hide the span text using this css */
}

a.info:hover span { /*the span will display just on :hover state*/
	display: block;
	position: relative;
/*	top: 1.5em;
	left: 3em;
	width: 150px;
	*/
	border: 1px solid #ff0000; /* border colour */
	background-color: #ffff99; /* background colour here */
	 -webkit-print-color-adjust:exact;
	color: #000000; /* text colour */
	text-align: center;
	font-size: 11px;
	font-style: italic;
	z-index: 30;
}

.images {
	vertical-align: bottom;
}


div#tooltip {
   position:absolute;
   visibility:hidden;
   z-index:100;
   background-color:#FFEEC7;
    -webkit-print-color-adjust:exact;
   border:1px solid black;
   padding:0.2em;
   font-size:0.8em;
}
.section_cyclus {
display: none;
}
TABLE.recordlist
{
  margin: 5px;
  border-collapse: collapse;
}

TABLE.recordlist TH,
TABLE.recordlist TD,
TABLE.recordlist A
{
  font-family: Trebuchet MS;
  font-size: 10px;
  vertical-align: middle;
}

TABLE.recordlist TH,
TABLE.recordlist TH A
{
  background-color: #b4bac6;
   -webkit-print-color-adjust:exact;
  color: #fff;
  	font-variant: small-caps;
}

TABLE.recordlist TH A:hover
{
  background-color: #ccccee;
   -webkit-print-color-adjust:exact;
  color: #ffffff;
  font-weight: bold;
}

TABLE.recordlist TD,
TABLE.recordlist TH
{
  
   padding: 1px;
  margin: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-style: solid;
  border-color: #ccc;
   -webkit-print-color-adjust:exact;
}

TABLE.recordlist TH
{
  padding: 3px;
    
}

TABLE.recordlist .row1
{
  background-color: #ffffff;
   -webkit-print-color-adjust:exact;
}

TABLE.recordlist .row2
{
  background-color: #f8f9fb;
   -webkit-print-color-adjust:exact;
}

img.recordlist
{
  height: 20px;
  width: 20px;
  vertical-align:middle;
}
img.middle {vertical-align:text-middle;}
img.top {vertical-align:text-top;}
img.bottom {vertical-align:text-bottom;}

.toc h1 { page-break-before : always }
.toc h2,h3,h4,h5,h6 {page-break-after: avoid;}
table.toc  { page-break-inside:auto }
.toc  tr    { page-break-inside:avoid; page-break-after:auto }
.toc thead { display:table-header-group }
 .toc   tfoot { display:table-footer-group }

#toc,
.toc,
.mw-warning,
.toc tr,
.toc td{ 
    /*border:1px solid #2f6fab;*/
    border-collapse : collapse;
    border:1px solid #aaaaaa;
    background-color:lightyellow;
     -webkit-print-color-adjust:exact;
    padding:5px;
    font-size: 12px;
    font-family: Trebuchet MS;
    font-weight: normal;
    border-spacing: none;
    color: black;
    vertical-align: middle;
}
.toc th { 
   font-variant : small-caps;
   color: #5A7236;
   font-size: 14px;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    
    border-collapse : collapse;
    border:1px solid #aaaaaa;
    background-color:lightyellow;
     -webkit-print-color-adjust:exact;
    padding:5px;
       border-spacing: none;
vertical-align: middle;
   
}
.tocindent {
	margin-left: 2em;
}
.tocline {
	margin-bottom: 0px;
}
.tocindent p {
	margin: 0 0 0 0 ! important;
}

#toc h2,
.toc h2 {
	display: inline;
	border: none;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}
#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: center;
}
#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}
#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}
#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}
.toccolours {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	 -webkit-print-color-adjust:exact;
	padding: 5px;
	font-size: 95%;
}





#footer-links
{
 position: relative;
 height: 215px;
 margin-top: 8px;
 padding: 8px 10px;
 
 border: 1px solid #d2cfd3;
 
 color: #959595;
  -webkit-print-color-adjust:exact;
 font-size: 11px;
}
#footer-links h6
{
 margin: 0;
 padding: 0;
 
 color: #474048;
  -webkit-print-color-adjust:exact;
 font-size: 11px;
}
#footer-links a
{
 color: #959595;
  -webkit-print-color-adjust:exact;
 font-size: 11px;
}
#footer-links ul
{
 float: left;
 width: 175px;
 margin: 0;
 padding: 10px;
 
 list-style: none;
}
#footer-links ul.right
{
 float: right;
 margin-right: 3px;
 padding-top: 0;
}
#footer-links ul li
{
 margin: 2px 0;
 padding: 0;
}

@media print
{
	table {page-break-inside:auto}
	tr {page-break-inside:avoid;page-break-after:auto}
	thead {display:table-header-group}
}
@page {
  size: auto;   /* auto is the initial value */
  margin: 5%;
}

