.activetab
{
  cursor: pointer; 
   background-color : 	#FFFFCC  ;
 border: 0px solid darkgrey; 
  border-left-width:1px;
  border-right-width:1px;
  border-top-width:1px;

  padding: 5px;
}

.passivetab
{
  cursor: hand; 
  background-color : 	red  ;
  color: #FFFFFF;
 border: 0px solid darkgrey; 
  border-left-width:1px;
  border-right-width:1px;
  border-top-width:1px;
  border-bottom-width:1px;
   padding: 5px;
}
.passivetab:hover,.passivetab:link,.passivetab:visited,.passivetab:active,.passivetab:TD
{
color: #FFFFFF;	}
.passivetab:hover {
 background-color : 	#E0E0E0  ;
;
}

.tabsTabs
{
  margin-top:5px;
  }
.intertab
{

  border: 0px solid darkgrey;
 
  border-bottom-width:2px;
  margin-top:5px;

}
